:root {
  --font-size-base: 18px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
